* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#centeringDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;

}

body {
    margin: 0;
    padding: 0;
    background-color: #222222;
}

table, th, td {
    border: solid 2px #8a8a8a;
    border-collapse: collapse;
    padding: 10px;
}

.table-text {
    color: #ffffff;
}

#banner {
    display: flex;
    color: #bb86fc;
    background-color: #353535;
    height: 25%;
    width: 100%;
    padding: 10px;
    text-align: center;
    justify-content: center;
}

#dropdownMenu {
    height: 50px;
    width: 50px;
    background-color: #c9970f;
}

.dev-image {
    width: 80%;
    padding: 0;
    margin: 0;
}