* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    width: 100vw;
    margin: 0;
    padding: 0;
}

#centeringDiv {
    justify-items: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100vw;
    background-color: #012731;

}

body {
    margin: 0;
    padding: 0;
    background-color: #012731;
    width: 100vw;
    overflow-x: hidden;
}

table, th, td {
    border: solid 2px #8a8a8a;
    border-collapse: collapse;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: auto;
}

.table-text {
    color: #ffffff;
}

#banner {
    display: flex;
    color: #012731;
    background-color: #21737e;
    height: 15vh;
    width: 100%;
    padding: 10px;
    text-align: center;
    justify-content: center;
    margin-bottom: 5vh;
}

#dropdownMenuButton {
    height: 50px;
    width: 50px;
    background-color: #c9970f;
}

.dev-image {
    justify-self: center;
    width: 50vw;
    left: 25vw;
    padding: 0;
    margin: 0;
}

.dev-text {
    color: #ffffff;
    justify-self: center;
    margin: 5px;
}

.name-icon {
    width: 20px;
    padding: 0;
    margin: 0;
}

#dropdownMenu {
    position: absolute;
    justify-self: center;
    left: 10vw;
    z-index: -1;
    width: 80%;
    height: 50vh;
    top: 30vh;
    background-color: #c9970f;
    margin: 0;
    padding: 0;
}

.dropdownMenuOption {
    width: 100%;
    text-align: center;
    height: 25%;
    background-color: #769e49;
    margin: 0;
    padding: 0;
    transition: background-color .5s;
}

.dropdownMenuOption:hover {
    background-color: #21737e;
}

.standard-text {
    color: #ffffff;
    justify-self: center;
    margin: 0px;
    text-decoration: none;
}

a {
    text-decoration: none;
}